   
       
    .text{
        font-size: 35px;
        color:white;
        margin-left: 450px;
        padding-top: 150px;
    }
    .text2{
        font-family:'Brush Script MT, Brush Script Std, Lucida Calligraphy, Lucida Handwriting, Apple Chancery, cursive.;
        font-size:15px;
        color:gainsboro;
        margin-left: 450px;
        padding-top: 8px;
    }
    .orion{
        max-width: 20%;
        height: auto;
    }
    *{
        margin: 0;
        padding: 0;
    }
a:hover{
   color:cornflowerblue;}
    .image{
       background-color:black;
        width:100%;
        background-size: cover;
        overflow: auto;
        background-image: no-repeat;
        height: 100vh;}
        
    .connect
    {  background-color: #CC0000;
        color:white;
        border-radius : 15px;
        
        height: auto;
        font-size: 30px;
        margin-top:70px;
        text-align: center;
    }
   
    .centerdiv{
        display:flex;
        justify-content: center;
        align-items:left;
        margin-top: 10px;
    }
    .anchor{
        height:100px;
        width:100px;
       color:white;
       background-color:black;
       margin:10px;
       text-align: center;
       line-height: 120px;
        box-shadow: 1px 4px 2px 2px;
    }
